<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PppoeKpiEventMapper">
  <resultMap id="BaseResultMap" type="com.pojo.PppoeKpiEvent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="event_time" jdbcType="TIMESTAMP" property="eventTime" />
    <result column="client_mac_address" jdbcType="VARCHAR" property="clientMacAddress" />
    <result column="upward_drtt" jdbcType="REAL" property="upwardDrtt" />
    <result column="downward_drtt" jdbcType="REAL" property="downwardDrtt" />
    <result column="dev_ip" jdbcType="VARCHAR" property="devIp" />
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pppoe_kpi_event
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.PppoeKpiEvent">
    insert into pppoe_kpi_event (id, event_time, client_mac_address, 
      upward_drtt, downward_drtt, dev_ip, 
      collect_time)
    values (#{id,jdbcType=BIGINT}, #{eventTime,jdbcType=TIMESTAMP}, #{clientMacAddress,jdbcType=VARCHAR}, 
      #{upwardDrtt,jdbcType=REAL}, #{downwardDrtt,jdbcType=REAL}, #{devIp,jdbcType=VARCHAR}, 
      #{collectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchInsert" parameterType="com.pojo.PppoeKpiEvent">
        insert into ${tableName} (id, event_time, client_mac_address, 
      upward_drtt, downward_drtt, dev_ip, 
      collect_time
      )
        values
        <foreach collection="trafficDatas" item="trafficData" separator=",">
            (#{trafficData.id,jdbcType=BIGINT}, #{trafficData.eventTime,jdbcType=TIMESTAMP}, #{trafficData.clientMacAddress,jdbcType=VARCHAR}, 
      #{trafficData.upwardDrtt,jdbcType=REAL}, #{trafficData.downwardDrtt,jdbcType=REAL}, #{trafficData.devIp,jdbcType=VARCHAR}, 
      #{trafficData.collectTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
  <update id="updateByPrimaryKey" parameterType="com.pojo.PppoeKpiEvent">
    update pppoe_kpi_event
    set event_time = #{eventTime,jdbcType=TIMESTAMP},
      client_mac_address = #{clientMacAddress,jdbcType=VARCHAR},
      upward_drtt = #{upwardDrtt,jdbcType=REAL},
      downward_drtt = #{downwardDrtt,jdbcType=REAL},
      dev_ip = #{devIp,jdbcType=VARCHAR},
      collect_time = #{collectTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, event_time, client_mac_address, upward_drtt, downward_drtt, dev_ip, collect_time
    from pppoe_kpi_event
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, event_time, client_mac_address, upward_drtt, downward_drtt, dev_ip, collect_time
    from pppoe_kpi_event
  </select>
</mapper>